/* General */

$body-font-color: #C1FFFF;
$primary-color: #0066BB;
$secondary-color: #E9E9E9;
$header-font-color: #FFFFFF;
$form-label-font-color: #6EA6CA;

/* Table */
$table-bg: none;
$table-even-row-bg: #01112B;
$table-border-color: none;
$table-head-bg: none;
$table-head-font-color: $body-font-color;
$table-row-font-color: #6EA6CA;